@import "tailwindcss";

@theme {
  /* Couleurs personnalisées pour l'univers spirituel */
  --color-spirit-background: #fdfbf7; /* Crème très doux */
  /*--color-spirit-primary: #6d5b97;    !* Améthyste profond *!*/
  --color-spirit-primary: #6e3126;    /* Améthyste profond */
  --color-spirit-accent: #d4af37;     /* Or mat */
  --color-spirit-leaf: #8da399;       /* Vert sauge */
  /* Typographies */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  /* Animations douces pour les produits */
  --animate-float: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Animation pour le Hero */
@keyframes slow-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s linear infinite alternate;
}

/* Masquer la scrollbar pour le carrousel tout en gardant le scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Style pour les Toasts */
.toast-success {
  --mdc-snackbar-container-color: #2e7d32; /* Vert spirituel */
  --mdc-snackbar-label-text-color: white;
}

.toast-error {
  --mdc-snackbar-container-color: #d32f2f; /* Rouge alerte */
  --mdc-snackbar-label-text-color: white;
}

/* Style pour le menu Material afin qu'il reste dans ton thème */
.spirit-menu {
  border-radius: 12px !important;
  overflow: hidden;
  border: 1px solid rgba(var(--color-spirit-primary), 0.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05) !important;
}

.mat-mdc-menu-item {
  font-family: 'Inter', sans-serif !important; /* Ou ta police principale */
  font-size: 14px !important;
}
