spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

jwt:
  secret: "ma_cle_secrete_de_developpement_tres_longue_et_securisee_pour_les_tests_locaux"

google:
  credentials:
    path: "C:/Users/damie/Documents/Developpement/universdesames/backend/credentials.json"

aws:
  s3:
    endpoint: "http://192.168.1.111:9000"
    public-url: "http://192.168.1.111:9000"
    access-key: "admin"
    secret-key: "admin123"
    bucket: "udl-dev"
    region: "eu-west-1"
